.footer
    .footer__content
        .footer__item
            .footer__item--title About Us
            ul.footer__item--list
                li What we do
                li Our Culture
                li Our Company
                li Career Opportunities
                li Social Investments
        .footer__item
            .footer__item--title Our Services
            ul.footer__item--list
                li Mobisynco Advisory
                li Mobisynco Research
                li Mobisynco Design
                li Mobisynco Contracting
                li Mobisynco Support
        .footer__item
            .footer__item--title Our Technologies
            ul.footer__item--list
                li Perimute Cloud
                li Perimute Computing
                li Intelligent Workflow
        .footer__item
            .footer__item--title Contact
            ul.footer__item--list
                li Prospective Clients
                li Media & Press
                li Students & Graduates
        .footer__item
            .footer__item--title Documentation
            ul.footer__item--list
                li Knowledge Base
                li Specification Library
                li Corporate Profile
                li Client Guides
        .footer__item
            .footer__item--title Pricing
            ul.footer__item--list
                li Retainers & Plans
                li Quotation Engine
                li Corporate Finance
                li Development Finance
        .footer__item
            .footer__item--title Our Network
            ul.footer__item--list
                li Mobisynco Affiliate Network
                li Trusted Supplier Database
        .footer__item
            .footer__item--title Legal
            ul.footer__item--list
                li Terms of Use
                li Privacy Policy
                li Intellectual Property
                li Service Agreements
    .footer__brand
        img(src="img/mobisynco-logo-text-white.svg", alt="Mobisynco logo").footer__brand--logo