header
    .container
        .navigation
            .brand
                img(src="img/logo.svg", alt="Mobisynco logo").brand__image
            .nav
                .nav-item
                    a(href="#").nav-link Boutique Advisory Firm
                .nav-item
                    a(href="#").nav-link Client Experience
                .nav-item
                    a(href="#").nav-link Contact
