header
    .container
        .navigation
            .brand
                img(src="img/mobisynco-logo-text-black.svg", alt="Mobisynco logo").brand__logo
            .nav
                .nav-item
                    a(href="#").nav-link Boutique Advisory Firm
                .nav-item
                    a(href="#").nav-link Client Experience
                .nav-item
                    a(href="#").nav-link Contact
