extends layout

block content

    .about
        .about__title Unique to your needs
        .about__content
            .about__item
                .about__item--heading Who we are
                .about__item--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit 
            .about__item
                .about__item--heading What we do
                .about__item--text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum, dolor sit 
            .about__item
                .about__item--heading Our expertise
                .about__item--text Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo in impedit corrupti facere quasi tenetur, deleniti, dicta suscipit Lorem ipsum, dolor sit 
    .about-footer
    .banner-1
        .banner-1__title
            .banner-1__title--text Be Efficient
            img(src="img/mobisynco-arrow-orange.svg", alt="Mobisynco arrow orange").banner-1__title--icon
        .banner-1__subtitle We build efficient and effective systems.
        .banner-1__link
            button.button.fluid.massive.ui.inverted.large-text Learn More
    .section-1
        .section-1__panel
            .section-1__title Streamline your Business
            .section-1__subtitle We are experts in delivering optimal business performance
            .section-1__services
                .section-1__services--item Lean Enterprise Systems
                .section-1__services--item Computer & Information Systems
                .section-1__services--item Manufacturing Systems
                .section-1__services--item Qualifity Management Systems
                .section-1__services--item Operations Research
                .section-1__services--item Human Factors & Ergonomics
                .section-1__services--item Supply Chain Systems
            .section-1__link
                button.fluid.massive.ui.black.basic.icon.button.large-text.bordered
                    i.angle.right.icon.orange
                    | Learn More
    .section-2
        .section-2__title Knowledge is Power
        .section-2__subtitle
            strong MOBISYNCO &copy; Research 
            | is designed to provide clarity and most importantly root-causes. We identify real problems and provide actionable solutions to unique challenges. 
        .section-2__research
            .section-2__research-item
                img(src="img/process-modelling.svg", alt="process modelling").section-2__research-item--icon
                .section-2__research-item--text Process Modelling
            .section-2__research-item
                img(src="img/time-studies.svg", alt="time studies").section-2__research-item--icon
                .section-2__research-item--text Time Studies
            .section-2__research-item
                img(src="img/demand-forecasting.svg", alt="demand forecasting").section-2__research-item--icon
                .section-2__research-item--text Demand Forecasting
        .section-2__link
            button.button.fluid.massive.ui.inverted.large-text
                i.angle.right.icon.orange 
                | Learn More
    .section-3
        .section-3__card-1
            .section-3__card-1--image
                //- img(src="img/manufacturing.svg", alt="manufacturing")
            .section-3__card-1--title Work Design for Manual Manufacturing Processes
            .section-3__card-1--text The world of manufacturing is filled with manual opeartions using tools designed to shape hard materials. The risks to human injury multiply when multiple stages are linked together and there is pressure to increase production. Learn how to design safe environments for manual...
            .section-3__card-1--link
                button.fluid.massive.ui.black.basic.icon.button.large-text.bordered
                    i.angle.right.icon.orange
                    | Learn More

        .section-3__card-2
            .section-3__card-2--image
                //- img(src="img/global.svg", alt="global sales")
            .section-3__card-2--title Going Global or Local?
            .section-3__card-2--text 
                p Companies are often pressed to go global to increase revenue or profits by entering new markets. The question remains if you are leaving a brilliant local market opportunity in exchange for a theoretical global opportunity.
                p We discuss some of the indicators to look out for before expanding into a new country or region.
            .section-3__card-2--link
                button.button.fluid.massive.ui.inverted.large-text
                    i.angle.right.icon.orange 
                    | Learn More
    .section-4
        .section-4__title Work Smart not Hard
        .section-4__text At Mobisynco we think differently, technology is designed to help your team work smart. Be smart, get the right tools, partnerships and win. 
        .section-4__link 
            button.button.fluid.massive.ui.inverted.large-text
                    i.angle.right.icon.orange 
                    | Learn More