.angle.right.icon.orange {
  color: $color-primary;
}

.fluid.massive.ui.button.large-text {
  font-size: 2.5rem !important;
  font-family: $font-ubuntu !important;
  letter-spacing: 0.1rem;
}
.fluid.massive.ui.button.large-text.bordered {
  font-size: 2.5rem !important;
  font-family: $font-ubuntu !important;
  letter-spacing: 0.1rem;
  border: solid black 2px;
}
